{% extends 'randomizer/base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="djangorandom">
            {{ classroom.id }}
                <form action="{% url 'randomizer:pair' %}" method="get">
                    {% csrf_token %}
                    <div class="form-group">
                        <select class="form-control" name="class_block1">
                            {% for room in classroom %}
                                <option value={{ room.course_block }}>{{ room.get_course_block_display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="class_block2">
                            {% for room in classroom %}
                                <option value={{ room.course_block }}>{{ room.get_course_block_display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span><input class="btn btn-default" type="submit" value="Submit"></span>
                </form>

            </div>   
        </div>
        <div class="col-md-5">
            <div class="btn-toolbar">
                <button class="btn btn-success" type="submit" id="go">&raquo; Run</button>
                <button class="btn btn-warning" type="submit" id="stop">&raquo; Pair Up!</button>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div id="djangorandom">
            {{ classroom.id }}
                <form action="{% url 'randomizer:pair' %}" method="get">
                    {% csrf_token %}
                    <div class="form-group">
                        <select class="form-control" name="class_block2">
                            {% for room in classroom %}
                                <option value={{ room.course_block }}>{{ room.get_course_block_display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span><input class="btn btn-default" type="submit" value="Submit"></span>
                </form>

            </div>        
        </div> -->
    </div>
  
    <div class="row">
        
        <div class="col-md-1" id="student-column1"></div>
        <div class="col-md-1" id="student-column2"></div>  <!-- anchor element for js -->
        
        <div class="col-md-10">
            <div id="student-pairs"></div>  <!-- anchor for student choice -->
        </div>

    </div>


</div>
{% endblock body %}
<div>
{% block extra_js %}
    <script>
        var nameArray1 = {{ data1 | safe }};
        var nameArray2 = {{ data2 | safe }};
    </script>
     <script type="text/javascript" src="{% static 'randomizer/js/pairing.js' %}"></script>
{% endblock extra_js %}
</div>